{%extends 'base.html' %}

{%block content %}
<head>
  <style>
    div .row{
        margin-left: 150px;
        margin-right: 0px;
        }
    hr{
        color: red;
      }
    p{
      font-weight: 500;
    }
    .pp{
        text-align: center;
    }
  </style>
</head>

<body>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://content3.jdmagicbox.com/comp/indore/w5/0731px731.x731.191126172003.l6w5/catalogue/livewire-indore-bhawar-kuan-indore-computer-training-institutes-lt3a5frlr5.jpg?clr=5d2509" class="d-block w-100" style="height: 600px;">
        </div>
        <div class="carousel-item">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJI1LHUasSg4TQpiouHUgTHr-FT-4RThCZDg&usqp=CAU" class="d-block w-100" style="height: 600px;">
        </div>
        <div class="carousel-item">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQREjohA0ChNHspZHyZh6boMFmPPrYqAs-Dsg&usqp=CAU" class="d-block w-100" style="height: 600px;">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div><br>

    <hr>
<div>
    
<h1 align="center">  Welcome to LIVEWIRE</h1>
<p align="center">Education is any kind of knowledge transitioned into learning.</p>
<p class="pp">
  


LIVEWIRE promote niche training in IT, Electronics & Electricals creating experts for emerging technology industries and specialist technology jobs. A part of CADD Centre, which is Asia's largest CAD/CAM/CAE training institute. LIVEWIRE is present in 100 locations across India and 6 Countries.

Learn from the experts
Being the Market leaders with a vast experience of 3 decade, LIVEWIRE courses are designed as per the industry needs.

Guaranteed career growth
The Product Portfolio is filled with technologies that are current and trending. We choose courses that has a high level of scope in the Job market.

100K+ Trained Students
Happy customers builds our strong Alumni network, where they share their industry experience for the next generation.

ISO 29990:2010
Certified for the Quality Training and Competence of learning service providers to all relevant stakeholders
</p>
</div><hr>

<h2 align="center">Trending Courses</h2>
<p align="center">_____</p>
<div class="home">
<div class="row">
    <div class="card" style="width: 18rem;">
        <img  width="250px" height="250px" src="https://content.techgig.com/thumb/msid-79386213,width-1200,height-900,resizemode-4/79386213.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Python</h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Enquire Now</a>
        </div>
      </div>
     &nbsp;&nbsp; &nbsp;&nbsp;
      <div class="card" style="width: 18rem;">
        <img  width="250px" height="250px" src="https://miro.medium.com/max/1024/1*3CXBOKNql4qS-lRyHT3pqw.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Machine Learning</h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Enquire Now</a>
        </div>
      </div>
      &nbsp;&nbsp; &nbsp;&nbsp;
      <div class="card" style="width: 18rem;">
        <img  width="250px" height="250px"src="https://bernardmarr.com/img/What%20Is%20The%20Importance%20Of%20Artificial%20Intelligence%20(AI).png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Artificial Intellegence</h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Enquire Now</a>
        </div>
      </div>
      &nbsp;&nbsp; &nbsp;&nbsp;
      <div class="card" style="width: 18rem;">
        <img width="250px" height="250px" src="https://d35fo82fjcw0y8.cloudfront.net/2019/01/17102218/data-science-in-marketing-post-venn-diagram.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Data Science</h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Enquire Now</a>
        </div>
      </div>
</div>
</div> 
<br><br>  
  </body>
{%endblock %}
